
body{background-color:grey;}


#title{
    color:green;
}

.parallax {
    /* The image used */
    background-image: url("../images/zoo.jpg");
  
    /* Set a specific height */
    min-height: 800px;
    min-width: 800px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
  }

  .card{
    border-radius: 16;
  }