
body{background-color:grey;}


#title{
    color:green;
}

.parallax {
    /* The image used */
    background-image: url("../images/zoo.jpg");
  
    /* Set a specific height */
    min-height: 800px;
    min-width: 800px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
  }

  .card{
    border-radius: 16;
  }

  /* Histroy css */

  #zooh{
    color: aquamarine ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    
  }

  #ph1{
    font-size: 25px;
    position: fixed;
    left: 40px;
    width:950px;
    
  }

  #old{
    height: 300px;
    width: 700px;
    position: fixed;
    right: 150px;
  }
