{% extends 'website/base.html'%}
{% load static %}

{% block content%}


    <h1 id="zooh"> Zoo History <h1>


    <p1 id="ph1"> Ridge Zoo, a beloved attraction in the heart of London, boasts a rich history dating back to 1985. Originally established as a private menagerie, the zoo gradually opened its doors to the public, captivating visitors with its diverse collection of animals. Over the years, Ridge Zoo has undergone significant expansion and modernization, incorporating state-of-the-art enclosures and interactive exhibits. Today, it stands as a premier destination for wildlife enthusiasts, offering a unique opportunity to observe animals from around the globe in naturalistic settings.</p1>
    <img id="old" src="{% static "images/zooold.jpg" %}">
    <p1 id="ph2"> These zoos were actually exhibits that, by today’s standards, seem abhorrently cruel. However, the people who ran these zoos had no concept of conservation; they viewed the natural world as something that was inexhaustible. London was a prime example of a city that showcased an eclectic range of animals, much to the amazement of its visitors. A polar bear, elephant, monkeys, lions and baboons were all common sightings, not in a zoo, but in the Tower of London. The Royal Menagerie at the Tower began back in 1251 with King Henry VIII’s white bear – a gift from the King of Norway.</p1>


    <img id="old2" src="{% static "images/zoo2.png" %}">
{% endblock %}
