{% extends 'website/base.html'%}
{% load static %}

{% block content%}


    <h1 id="zooh"> Zoo History <h1>


    <p1 id="ph1"> Ridge Zoo, a beloved attraction in the heart of London, boasts a rich history dating back to 1985. Originally established as a private menagerie, the zoo gradually opened its doors to the public, captivating visitors with its diverse collection of animals. Over the years, Ridge Zoo has undergone significant expansion and modernization, incorporating state-of-the-art enclosures and interactive exhibits. Today, it stands as a premier destination for wildlife enthusiasts, offering a unique opportunity to observe animals from around the globe in naturalistic settings.</p1>
    <img id="old" src="{% static "images/zooold.jpg" %}">
    <p1 id="ph2"> 

{% endblock %}
