{% extends 'website/base.html'%}
 

{% block content%}
    <br>
    <div class="text-center">
    <h3 id="Title">Welcome To Ridget Adventure Zoo</h3>
        <br>
        <br>
        <a href="{% url 'register'%}" class="bin btn-primary">Sign up &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i></a>
    </div>

    <div class="parallax"></div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Zoo History</h5>
          <p class="card-text">Ridge Zoo, nestled amidst the rolling hills of Wales, has a rich history that spans over 14 decades. Its origins trace back to 1985, when a visionary group of conservationists and animal enthusiasts envisioned a sanctuar</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
            

{% endblock %}



